# PCA Reduction

In this notebook, we test Dask's PCA

In [21]:
import dask.dataframe as dd
from dask_ml.decomposition import PCA

In [22]:
df = dd.read_csv('../data/processed/organoid_reduction_neighbors_5000_components_50.csv')

In [23]:
est = PCA(n_components=3)
pca = est.fit_transform(df.values.compute_chunk_sizes())

In [24]:
import pandas as pd 
df = pd.DataFrame(pca.compute())

               0         1         2
0      -0.093945  1.515458  0.605415
1      -1.576281  1.713536  1.212861
2      -1.661179  1.672553  1.268587
3      -2.139295  1.577364  1.444026
4      -1.642556  1.627754  1.237435
...          ...       ...       ...
235116 -2.751143  1.368098  1.800611
235117 -2.749360  1.363425  1.809036
235118 -2.726909  1.308365  1.811338
235119 -2.703970  1.303070  1.837254
235120 -2.735118  1.309854  1.761329

[235121 rows x 3 columns]